* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

#container {
  margin: 150px auto;
  height: 500px;
  width: 1000px;
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#slideshow {
  width: 850px;
}

#slideshow img {
  height: 500px;
}

.content {
  width: 100%;
  position: relative;
}

.active {
  display: block;
}

.text {
  position: absolute;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
  font-size: 1.1rem;
  color: #FFF;
  text-align: right;
  bottom: 0;
  right: 0;
  margin: 20px 10px;
}

#thumbnails {
  position: relative;
  width: 150px;
  display: flex;
  flex-direction: column;
  background-color: #000;
}

#thumbnails img {
  height: calc(100% / 5);
  opacity: 0.5;
}

.thumbnail-active {
  opacity: 1 !important;
  border: 2px solid #dac9ff;
}

.arrow {
  position: absolute;
  left: 61px;
  margin: 10px 0;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 3px #000;
  opacity: 0.7;
  color: #000;
  font-size: 15px;
  font-weight: bold;
  z-index: 999;
}

.arrow:hover {
  opacity: 1;
}

#arrow-up {
  top: 0;
}

#arrow-down {
  bottom: 0;
}